<!-- Implement code here -->
@model TaskSchedular.Models.TaskInfo

@{
    ViewData["Title"] = "CreateTask";
}

<h1>CreateTask</h1>

<h4>TaskInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                <input asp-for="TaskDescription" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedClosureDate" class="control-label"></label>
                <input asp-for="ExpectedClosureDate" class="form-control" />
                <span asp-validation-for="ExpectedClosureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" />
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletionStatus" class="control-label"></label>
                <input asp-for="CompletionStatus" class="form-control" />
                <span asp-validation-for="CompletionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnCreate" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
